{% extends 'base.html' %}

{% block 'main' %}
<div class="container mt-5" style="background-color: #f8f9fa;">
    <br>
    <h1 style="font-family: 'Times New Roman', Times, serif; text-align: center;">- About Us -</h1><hr>
    <p style="font-family:cursive; text-align: center; font-size: 20px;">Welcome to our ecommerce site! We offer a wide range of products to meet your needs. <br>Our mission is to provide the best quality and service to our customers.</p>
    <p style="font-family:cursive; text-align: center; font-size: 20px;">Our team is dedicated to bringing you the latest and greatest in the world of ecommerce. <br>We value your feedback and strive to continuously improve your shopping experience.</p>
    <p class="shadow" style="font-family:cursive; text-align: center; font-size: 20px;">Your satisfaction is our top priority.
        <br>We are dedicated to providing excellent customer service and ensuring that your shopping experience with us is seamless and enjoyable. 
        <br>If you have any questions or need assistance, our friendly and knowledgeable team is here to help.</p>
    <p class="card-title Home" style="font-family:cursive; text-align: center; font-size: 20px; color: black;">Thank you for visiting our site and we hope you enjoy your shopping experience with us.</p><br><br><br>
</div>

{% endblock 'main' %}